body {
	display: flex;
	background-color: #1862EC;
	justify-content: stretch;
	align-content: stretch;
}

#scoreBoard {
	background-color: #342809;
	border: solid 3px #000000;
	border-radius: 1em;
	width: 90vw;
}

div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#startGame {
	height: 5vw;
	width: 5vw;
	border: solid 3px #000000;
	border-radius: 6em;
	margin: 1em;
}

#addPlayer {
	margin: 0.5em;
	text-align: center;
	border: solid 3px #000000;
	border-radius: 1em;
	align-self: stretch;
}

#addPlayerField {
	display: flex;
	align-items: stretch;
}

input {
	background-color: #F7DDD4;
	color: #000000;
	height: 1em;
	margin: 0.5em;
	text-align: center;
	border-radius: 1em;
}

input.name {
	background-color: #FD4D0C;
	border-color: #191970;
	color: #000000;
	margin-bottom: 0.5em;
}

input.sum {
	background-color: #FCBA12;
	margin-top: 0.5em;
}

input.chokeWarn {
	background-color: #FFFF00;
}

input.choke {
	background-color: #FF0000;
}

input.winner {
	background-color: #00FF00;
}

input.loser {
	background-color: #FF0000;
}

button {
	background-color: #FCBA12;
}